<div class="row-fluid slide-history">
  <div class="container">
    <div class="span12">
      <%= image_tag("jeanandbromley.jpg", :class => "about-img img-circle pull-right") %>
      <p class="lead">UC Berkeley Alumni instructors Jean Ma and Bromley Palamountain are award-winning swing dance instructors, choreographers, and performers specializing in vernacular movement through the dance patterns of Lindy Hop, Balboa, and Charleston. Since they both started dancing in Berkeley and have Lindy Hop to thank for their wonderful partnership, they wanted to give back to the Berkeley community by starting a swing dance venue where the Berkeley Lindy Hop community can continue to grow for many generations. They are honored to be able to teach and run this event every week for the Bay Area.</p>
      </div>
  </div>
</div>
<div class="row-fluid slide-founding">
  <div class="container">
    <div class="span12">
      <%= image_tag("dancingmaniacs.jpg", :class => "about-img img-circle pull-left") %>
      <p class="lead">In 2011, world-reknowned instructors Jean Ma and Bromley Palamountain and UC Berkeley swing community founders James McBryan and Joleigh Davis co-created The Dancers Den as a space to learn and thrive through the jazz dances of Lindy Hop, Charleston, and Swing Dancing.</p>
  </div>
</div>
