<div class="container">

  <div class="hero-unit">
    <%= raw @page.content_for(:hero_unit) %>
  </div>

  <div class="row">
    <div class="span6">
      <%= raw @page.content_for(:body) %>
    </div>

    <div class="span6">
      <%= raw @page.content_for(:side_body) %>
    </div>
  </div>
</div>


