<div class="headline">
  <div class="logo"></div>
</div>

<div class="navbar-wrapper">
  <div class="container">
  <%= render(:partial => "/refinery/menu", :locals => {
               :dom_id => 'menu',
               :css => 'navbar navbar-inverse navbar-static-top'
             }) %>
  </div>
</div>
