@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Lora', serif;
  color: #ffffff;
  background-color: #55472d;
};

h1 {
  font-family: 'Open Sans', sans-serif;
}

.hero-unit {
  color: #000000;
}
