@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #55472d;
};

.navbar-wrapper {
  position: relative;
  z-index: 10;
}

.carousel {
  margin-bottom: 60px;
  margin-top: -90px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette {
  padding-top: 120px;
  overflow: hidden;
}

.featurette-image {
  margin-top: -120px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.logo {
  background-image: image_url("logo.png");
  height: 50px;
  width: 149px;
  background-repeat: no-repeat;
  text-decoration: none;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}
